<div class="conatiner-fluid">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <form [formGroup]="loginForm">
                    <div class="card"> 
                        <h2 class="card-header">Login</h2>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="" class="form-label">Email Id</label>
                                <input type="text" class="form-control" formControlName="email" name="email" placeholder="Enter Your Email Id">
                                <small class="text-danger"
                                    *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched">Enter
                                    Valid Email Id*</small>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">Password</label>
                                <input type="password" class="form-control" formControlName="pwd" name="pwd" placeholder="Enter Your Password">
                                <small class="text-danger"
                                    *ngIf="!loginForm.get('pwd')?.valid && loginForm.get('pwd')?.touched">Enter Correct Password*</small>
                           
                                </div>
                            <button type="submit" class="btn btn-primary mt-3" (click)="login()">Login</button>
                            <div class="d-flex justify-content-between mt-3">
                                <a [routerLink]="['/register']" class="text-info">Register</a>
                                <a [routerLink]="['/forget']" class="text-info">Forget Password</a>
                            </div>

                                
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>