/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0;
      font-family:
       Roboto, "Helvetica Neue", 
       sans-serif; 
       background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg');
       background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      /* background-color: black; */
      
}
