h5{
    font-size: 20px;
}
.card{
    background: transparent;
    color: white;
    border: 1px solid white;
    backdrop-filter: blur(20px);
}
.phno{
    color: black;
    /* background-color: white; */
}

h5{
    border-bottom: 1px solid white;
}

input{
    background: transparent;
}
select{
    background: transparent;
    color: white;
}
