<div class="container-fluid">
  <div class="container">
    <div class="card mt-3">
      <form action="" [formGroup]="RegistrationForm">
        <h5 class="card-header">Registration</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label for="" class="form-label">First Name</label>
                <input type="text" formControlName="fname" placeholder="Enter Your First Name" class="form-control"
                  name="fname" id="">
                <small class="text-danger"
                  *ngIf="!RegistrationForm.get('fname')?.valid && RegistrationForm.get('fname')?.touched">Enter Your
                  First Name*</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="" class="form-label">Last Name</label>
                <input type="text" formControlName="lname" placeholder="Enter Your Last Name" class="form-control"
                  name="lname" id="">
                <small class="text-danger"
                  *ngIf="!RegistrationForm.get('lname')?.valid && RegistrationForm.get('lname')?.touched">Enter
                  Your Last Name</small>
              </div>

            </div>

          </div>

          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label for="" class="form-label ">Mobile Number</label>
                <input type="number" formControlName="phno" class="form-control phno"
                  placeholder="Enter Your Mobile Number" name="phno" id="">
                <small class="text-danger"
                  *ngIf="!RegistrationForm.get('phno')?.valid && RegistrationForm.get('phno')?.touched">Enter
                  Your Mobile Number*</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="" class="form-label">Email Id</label>
                <input type="email" #email (blur)="getEmailData(email.value)" formControlName="email"
                  class="form-control" name="email" placeholder="Enter Your Email Id" id="">
                <small class="text-danger"
                  *ngIf="!RegistrationForm.get('email')?.valid && RegistrationForm.get('email')?.touched">Enter
                  Valid Email*</small>
              </div>

            </div>

          </div>

          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label for="" class="form-label">Date of Birth</label>
                <input type="date" formControlName="dob" class="form-control text-light" name="dob" id="">
                <small class="text-danger" *ngIf=""></small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="" class="form-label">Gender</label> <br>
                <input type="radio" name="gender" value="gender" id=""> Male
                <input type="radio" name="gender" value="gender" id=""> Female

              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label for="" class="form-label">Country</label>
                <select class="form-control" formControlName="countryId" name="countryId"
                  (change)="getStateData($any($event.target).value)">
                  <option *ngFor="let c of country|keyvalue" [value]="c.key">{{c.value}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="" class="form-label">State</label>
                <select class="form-control" formControlName="stateId" name="stateId"
                  (change)="getCityData($any($event.target).value)" id="">
                  <option [value]="st.key" *ngFor="let st of state|keyvalue">{{st.value}}</option>
                </select>
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label for="" class="form-label">city</label>
                <select class="form-control" formControlName="cityId" name="cityId">
                  <option [value]="si.key" *ngFor="let si of city|keyvalue">{{si.value}}</option>
                </select>
              </div>
            </div>
            

          </div>

          
          <div class="d-flex justify-content-center">
            <button class="btn btn-info m-3" (click)="saveData()" type="submit">submit</button>
            <button class="btn btn-info m-3" type="reset">reset</button>
          </div>

        </div>
      </form>
    </div>
  </div>


  <!-- <div class="container-fluid">
  <div class="container">

    <div class="row justify-content-center mt-4">
      <div class="col-md-8">


        <div class="card">
          <form action="" [formGroup]="RegistrationForm">
            <div class="row ">
              <h5 class="card-header">Registration</h5>
              <div class="col-md-6 col-lg">

                <div class="card-body">
                  <div class="form-group">
                    <label for="" class="form-label">First Name</label>
                    <input type="text" formControlName="fname" placeholder="Enter Your First Name" class="form-control"
                      name="fname" id="">
                    <small class="text-danger"
                      *ngIf="!RegistrationForm.get('fname')?.valid && RegistrationForm.get('fname')?.touched">Enter Your
                      First Name*</small>
                  </div>

                  <div class="col-md-6 col-lg">
                    <div class="form-group">
                      <label for="" class="form-label">Last Name</label>
                      <input type="text" formControlName="lname" placeholder="Enter Your Last Name" class="form-control"
                        name="lname" id="">
                      <small class="text-danger"
                        *ngIf="!RegistrationForm.get('lname')?.valid && RegistrationForm.get('lname')?.touched">Enter
                        Your Last Name</small>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="" class="form-label ">Mobile Number</label>
                        <input type="number" formControlName="phno" class="form-control phno"
                          placeholder="Enter Your Mobile Number" name="phno" id="">
                        <small class="text-danger"
                          *ngIf="!RegistrationForm.get('phno')?.valid && RegistrationForm.get('phno')?.touched">Enter
                          Your Mobile Number*</small>
                      </div>

                      <div class="form-group">
                        <label for="" class="form-label">Email Id</label>
                        <input type="email" #email (blur)="getEmailData(email.value)" formControlName="email"
                          class="form-control" name="email" placeholder="Enter Your Email Id" id="">
                        <small class="text-danger"
                          *ngIf="!RegistrationForm.get('email')?.valid && RegistrationForm.get('email')?.touched">Enter
                          Valid Email*</small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">

                      <div class="form-group">
                        <label for="" class="form-label">Date of Birth</label>
                        <input type="date" formControlName="dob" class="form-control text-light" name="dob" id="">
                        <small class="text-danger" *ngIf=""></small>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="" class="form-label">Gender</label> <br>
                          <input type="radio" name="gender" value="gender" id=""> Male
                          <input type="radio" name="gender" value="gender" id=""> Female

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="" class="form-label">Country</label>
                        <select class="form-control" formControlName="countryId" name="countryId"
                          (change)="getStateData($any($event.target).value)">
                          <option *ngFor="let c of country|keyvalue" [value]="c.key">{{c.value}}</option>
                        </select>
                      </div>
                      <div class="col-md-6">

                        <div class="form-group">
                          <label for="" class="form-label">State</label>
                          <select class="form-control" formControlName="stateId" name="stateId"
                            (change)="getCityData($any($event.target).value)" id="">
                            <option [value]="st.key" *ngFor="let st of state|keyvalue">{{st.value}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">

                      <div class="form-group">
                        <label for="" class="form-label">city</label>
                        <select class="form-control" formControlName="cityId" name="cityId">
                          <option [value]="si.key" *ngFor="let si of city|keyvalue">{{si.value}}</option>
                        </select>
                      </div>

                    </div>
                  </div>
                </div>


                <div class="d-flex justify-content-center">
                  <button class="btn btn-info m-3" (click)="saveData()" type="submit">submit</button>
                  <button class="btn btn-info m-3" type="reset">reset</button>
                </div>

              </div>


            </div>



          </form>
        </div>

      </div>
    </div>
  </div>
</div> -->